@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}



.navbar {
  position: fixed; 
  top: 0; 
  width: 100%; 
  z-index: 2; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  border-bottom: 2px solid #fff;
}

.navbar_logo-img {
  height: 110px;
  margin-left: 25px;
}

.navbar_lista {
  display: flex;
  gap: 60px;
  padding-right: 1vw;
}

.lista-item a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 3px;
  position: relative; 
  transition: border-bottom 0.3s ease; 
}

.lista-item a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px; 
  bottom: 0;
  left: 0;
  background-color: #fff; 
  transform: scaleX(0); 
  transform-origin: right; 
  transition: transform 0.3s ease; 
}

.lista-item a:hover::before {
  transform: scaleX(1); 
  transform-origin: left; 
}

.checkbtn img {
  height: 32px;
  float: right;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}
/* Estilos de la seccion inicio */

.inicio {
  display: flex;
  height: auto;
  margin-top: 5vh;
}

.fondo-imagen {
  width: 100%;
  height: calc(100vh-110px); 
  object-fit: cover;
}

.inicio_texto {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 28vh;
  left: 5vw;
  color: #fff;
  text-align: center; 
}

.inicio_texto-titulo{
  font-family: 'Bebas Neue', sans-serif;
  font-size: 4vw;
  text-shadow: 5px 5px 0 #0e0d0d;
  
}

.inicio_texto-subtitulo{
  padding: 15px;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 2vw;
  text-shadow: 3px 3px 0 #000;
}

/* Estilos seccion entrenadores */

.entrenadores {
  display: flex;
  flex-direction: column; 
  align-items: center;
  background-color: #000;
  justify-content: center;
  padding: 100px 0;
  scroll-margin-top: 55px;
}
.titulo-seccion {
  text-align: center;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 80px;
  text-shadow: 5px 5px 0 #3a3535;
  letter-spacing: 3px;
  color: #fff;
  text-transform: uppercase;
}
.contenedor-entrenadores {
  margin: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center; 
  flex-wrap: wrap; 
  gap: 30px;
}

.entrenador {
  text-align: center;
  animation: fadeIn 1s;
  max-width: 250px;
  margin: 20px;
}

.imagen-container {
  height: 320px;
  position: relative;
  overflow: hidden;
  border: 4px solid #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
  transition: transform 0.3s;
}

.imagen-container img {
  width:250px;
  transition: transform 0.3s;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  transition: opacity 0.3s;
}

.entrenador:hover .imagen-container {
  transform: scale(1.05);
}

.entrenador:hover .overlay {
  opacity: 1;
}

h3 {
  color: #fff;
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 2px;
}

@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}
.estilos {
  background-color: #000; 
  color: #fff; 
  padding: 50px;
  scroll-margin-top: 65px;
}


.estilos-contenedor {
  scroll-margin-top: 85px;
  text-align: center;
  padding: 20px;
  margin: 40px;
  display: flex;
  height: auto;
  justify-content: space-around;
  align-items: center;
  background-color: #000; 
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.7); 
}


.estilos-imagen img {
  max-width: 100%;
  height: auto;
  border: 4px solid #fff; 
  border-radius: 10px;
}


.estilos-texto {
width: 550px; 
  text-align: left;
  margin: 20px;
}

.estilos-texto h3 {
  text-align: center;
  font-size: 3.5vw;
  margin-bottom: 30px;
}

.estilos-texto li {
  font-size: 1.5vw;
  line-height: 2.7;
  list-style:circle;
  margin-left: 20px;
}


/* Estilos para la sección de horarios */

.horarios {
  background-color: #000; 
  color: #fff; 
  padding: 50px;
  text-align: center;
  scroll-margin-top: 65px;
}

.borde-externo {
  width: 100%;
  max-width: 600px; 
  margin: 0 auto; 
  position: relative;
}

.borde-externo table {
  border-collapse: collapse;
  width: 100%;
  height: 100%;
}


.borde-externo::before,
.borde-externo::after {
  content: "";
  position: absolute;
  border: 1px solid #fff; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  pointer-events: none;
}


.borde-externo th, .borde-externo td {
  border: 1px solid #000; 
  padding: 10px;
  color: #000; 
}


.borde-externo th {
  background-color: #000; 
  color: #fff; 
  border: 1px solid #fff; 
}


.borde-externo td {
  background-color: #f7f7f7; 
}


/* Estilos para la sección de contacto */
.contacto {
  background-color: #000;
  color: #fff; 
  padding: 50px;
  scroll-margin-top: 65px;
}

/* Estilos para el contenido de contacto */
.contenido-contacto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-top: 25px;
  align-items: center;
}

/* Estilos para el formulario de contacto */
.formulario-contacto {
  text-align: center;
}

.formulario-contacto h3 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.formulario-contacto label {
  display: block;
  margin-bottom: 10px;
}

.formulario-contacto input,
.formulario-contacto textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #333; 
  border: 1px solid #fff; 
  color: #fff; 
}
.form_button{
  display: flex;
  justify-content: center;
}

.button {
  background-image: linear-gradient(135deg, #008aff, #86d472);
  border-radius: 6px;
  color: #ffffff;
  display: flex;
  height: 50px;
  font-size: 1.4em;
  font-weight: 600;
  padding: 4px;
  text-decoration: none;
  width: 7em;
  margin-top: 20px; 
}

.button:hover {
  color: #fff;
}

.button .buttonspan {
  align-items: center;
  background: #0e0e10;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  height: 100%;
  transition: 0.5s ease;
  width: 100%;
}

.button:hover .buttonspan {
  background: transparent;
}

/* Estilos para la ubicación y el mapa de Google */
.ubicacion {
  text-align: center;
}

.ubicacion h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.ubicacion iframe {
  width: 100%;
  max-width: 100%;
  height: 450px;
  border: none;
}

/* Estilos para el footer */

.footer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #000;
  color: #fff;
  padding: 50px;
  border-top: 2px solid #fff;
  justify-content:center;
  align-items: top;
}

.footer_titulo_uno{
  font-size: 40px;
  padding-bottom: 14px;
  text-align: center;
}

.footer_titulo_dos{
  font-size: 40px;
  text-align: center;
}
.footer_titulo_tres{
  font-size: 40px;
  text-align: center;
}
.footer_texto_uno{
  text-align: center;
  padding: 2px;
}
.footer_lista{
  text-align: center;
}
.footer_lista_item{
  padding: 15px;
}
.footer_lista_item a{
  text-decoration: underline;
  font-size: 18px;
  font-weight: 600;
  color: #9c9393;
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 3px;
}
.footer_texto_dos{
  text-align: center;
  margin-bottom: 2px;
}

.footer_texto_tres{
  text-align: center;
  padding: 10px;
  font-size: 30px;
  font-family: 'Bebas Neue', sans-serif;
}

.footer_redes-iconos{
  text-align: center;
}
.footer_icono{
  width: 45px;
  margin-right: 15px;
}


@media (max-width:1250){
  .estilos-contenedor{
    padding: 4px;
    margin: 4px;
  }
}

@media (max-width: 840px) {
  .checkbtn img {
    display: block;
  }
  .navbar_lista{
    position: fixed;
    width: 100%;
    height:100%;
    flex-direction: column;
    font-size: larger;
    font-weight: 700;
    right: -100%;
    top: 116px;
    padding-top: 40px;
    text-align: center;
    z-index: 1;
    background: #000000;
    gap:40px;
    transition: right 0.5s ease-in;
  }
  .lista-item a{
    display: block;
    justify-content: center;
    height: 50px;
    align-items:flex-start;
    border-bottom: 2px solid #fff;
  }
  #check:checked ~ .navbar_lista {
    right: 0;
  }

  .contenido-contacto{
    grid-template-columns: auto;
  }
  .formulario-contacto{
    margin-bottom: 15px;
  }
  .footer{
    grid-template-columns: auto;
  }
  .footer_informacion{
    margin-bottom: 40px;
    
  }
  .footer_links{
    margin-bottom: 40px;
  }
  .footer_texto_dos{
    margin-bottom: 20px;
  }

}
