* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
    to right,
    #000000 0%,
    #434343 51%,
    #000000 100%
  );
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 400px;
  border-radius: 30px;
  background: #f8f8f8;
  backdrop-filter: blur(20px);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2),
    10px 10px 20px rgba(0, 0, 0, 0.2);
  margin: 25px;
}

.login__title {
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  color: #000000;
  text-shadow: 1px 1px 2px rgb(168, 104, 104);
  margin: 20px;
}

.login__sections {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.inputBox{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 40px;
  margin-bottom: 35px;
  border-radius: 50px;
  box-shadow: rgb(219, 219, 219) 3px 3px 6px 0px inset,
    rgba(138, 136, 136, 0.5) -3px -3px 6px 1px inset;
}

.inputBox input{
  background-color: rgb(247, 246, 246);
}

.login--input {
  font-size: 18px;
  border: none;
  outline: none;
}
/* Estilos al boton */

.login__button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  padding: 10px;
}
.login__button a {
  text-decoration: none;
}

.button {
  position: relative;
  outline: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 45px;
  width: 130px;
  opacity: 1;
  background-image: linear-gradient(
    to right,
    #000000 0%,
    #434343 51%,
    #000000 100%
  );
  box-sizing: border-box;
  font-size: 1.4em;
  font-weight: 600;
  padding: 4px;
  z-index: 2;
  border: 1px solid rgba(0, 0, 0, 0.6);
}

.button--span {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #ffff;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.7px;
}

.button:hover {
  animation: buttonrotate 0.7s ease-in-out both;
}

.button:hover .button--span {
  animation: buttonstorm 0.8s ease-in-out both;
  animation-delay: 0.06s;
}

@keyframes buttonrotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }
  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

@keyframes buttonstorm {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }
  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }
  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }
  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}

.login__link--register {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 18px;
}

.login__link--register {
  margin-left: 7px;
}

@media (max-width: 412px) {
  .container {
    margin: 15px;
    height: auto;
  }

  .login__title {
    font-size: 20px;
    padding-top: 15px;
  }
  .inputBox {
    width: 240px;
  }
}
